* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

.faq-container {
    margin: 0 auto;
    border-radius: 5%;
    background-color: white;
    width: 85vw;
    max-width: 400px;
    min-height: 40vh;
    max-height: 70vh;
    padding: 130px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

h1 {
    margin: 0 auto 2rem auto;
    font-size: 2rem;
}


.faq-container > img {
    position: absolute;
    top: -110px;
    left: calc(50% - 9rem);
}

.answer {
    font-weight: 400;
    margin-bottom: 1rem;
    display: none;
    color: hsl(240, 6%, 50%);
}

.faq {
    width: 100%;
}

.question {
    min-height: 2rem;
    padding-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 95% 5%;
}

.question:hover {
    cursor: pointer;
}

h2 {
    font-weight: 400;
    font-size: 0.9rem;
}


hr {
    border-color: hsl(240, 5%, 91%);
}

.desktop-img {
    display: none;
}

@media only screen and (min-width: 1000px) {

    * {
        box-sizing: border-box;
    }

    .faq-container {
        border-radius: 4%;
        height: 60vh;
        width: 65vw;
        max-width: 1000px;
        min-height: 40vh;
        padding: 2rem 2rem 2rem 25%;
        display: flex;
        justify-content: space-around;
    }

    .mobile-img {
        display: none;
    }

    .desktop-img {  
        display: block;
        position: absolute;
        left: -500px;  
    }

    .answer {
        font-weight: 400;
        color: hsl(240, 6%, 50%);
    }
    
    .question {
        min-height: 2rem;
        margin-bottom: 1rem;
        width: 100%;
        display: grid;
        grid-template-columns: 95% 5%;
    }

    }

    h1 {
        margin: 0;
    }
}